<table class="table table-bordered table-condensed text-center">
    <thead>
		<tr>
			<th class="text-center">{{'DATE'|translate}}</th>
			<th class="text-center">{{'EXPECTED'|translate}}</th>
			<th class="text-center">{{'EXPENSES'|translate}}</th>
			<th class="text-center">{{'ACTUAL'|translate}}</th>
			<th class="text-center">{{'BALANCE'|translate}}</th>
			<th class="text-center">{{'DAILY BALANCE'|translate}}</th>
			<th class="text-center">{{'EXPECTATIONS'|translate}}</th>
		</tr>
    </thead>

    <tbody>
		<tr class="active-row"
			ng-class="compareDates(item.date)"
			ng-repeat="item in summary.schedule"
			ng-click="openPaymentsModal(item.date)"
		>
			<td ng-class="colorizeWeekends(item.date)">{{item.date|date:'dd.MM.yyyy.'}}</td>
			<td>{{item.sum|currency:'€':2}}</td>
			<td>{{item.spent|currency:'€':2}}</td>
			<td>{{item.residual|currency:'€':2}}</td>
			<td>{{item.balance|currency:'€':2}}</td>
			<td>{{item.dailyBalance|currency:'€':2}}</td>
			<td>{{item.prediction|currency:'€':2}}</td>
		</tr>
    </tbody>
</table>
