<div class="panel-heading">
    <strong>{{'GRAPH'|translate}}</strong>
</div>

<div class="panel-body" ng-controller="ChartCtrl">
    <canvas id="base"
            class="chart chart-bar"
            chart-options="chart.options"
            chart-data="chart.data"
            chart-labels="chart.labels"
            chart-colors="chart.colors"
            chart-dataset-override="chart.datasetOverride" >
    </canvas>
</div>