<div class="row" us-spinner="{radius:20, width:8, length: 16}" spinner-key="spinner-1" spinner-on="showSpinner">

	<div class="col-md-8" ng-show="showIntervalsTable">
		<!-- Intervals navigation element -->
		<ol class="breadcrumb">
			<li><a href="#/intervals">{{'ALL'|translate}}</a></li>
			<li><a href="#/intervals/{{selectedYear}}">{{selectedYear}}</a></li>
			<li class="active">{{summary.interval.name}}</li>
		</ol>

		<!-- Input panel -->
		<div class="panel panel-default" ng-include="'app/money/view/daily/templates/daily.inputs.html'"></div>

		<!-- Payments table -->
		<div class="panel panel-primary table-responsive" ng-include="'app/money/view/daily/templates/daily.table.html'"></div>
	</div>

	<div class="col-md-8" ng-show="noIntervalsYet">
		<div class="alert alert-info" role="alert">
			<strong>{{'NO_INTERVALS'|translate}}</strong>
			{{'NO_INTERVALS_MSG'|translate}}
		</div>
	</div>

	<div class="col-md-4">
		<!-- Interval panel -->
		<div class="panel panel-info" ng-include="'app/money/view/daily/templates/daily.interval.html'"></div>

		<!-- Statistics panel -->
		<div class="panel panel-info"
			 ng-include="'app/money/view/daily/templates/daily.statistics.html'"
			 ng-show="showIntervalsTable">
		</div>

		<!-- Graph panel -->
		<div class="panel panel-info"
			 ng-include="'app/money/view/daily/templates/daily.graph.html'"
			 ng-show="showIntervalsTable"></div>
	</div>
</div>