<div class="modal-header">
	<button class="close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>

	<h3 class="modal-title" ng-show="createMode">
		{{'CREATE_INTERVAL'|translate}}
	</h3>
	
	<h3 class="modal-title" ng-show="editMode">
		{{'EDIT_INTERVAL'|translate}} {{from|date:'dd.MM.yyyy.'}}-{{till|date:'dd.MM.yyyy.'}}
	</h3>
</div>

<div class="modal-body">
	<div class = "container">
		<div class = "row">

			<!-- Datepicker From -->

			<div class = "col-md-3">
				<div class="input-group">
					<span class="input-group-addon">
						{{'FROM'|translate}}
					</span>

					<input  type="text"
							class="form-control"
							aria-label="From"
							placeholder="dd.mm.yyyy."
							ng-required="true"
							uib-datepicker-popup="dd.MM.yyyy."
							datepicker-options="dateOptions"
							close-text="Close"
							ng-model="from"
							is-open="datepickerFrom.show"
							ng-disabled="controlsDisabled || editMode"
					>

					<span class="input-group-btn">
						<button	class="btn btn-default"
								type="button"
								ng-click="datepickerFrom.open()"
								ng-disabled="controlsDisabled || editMode">

							<span class="glyphicon glyphicon-calendar"></span>
						</button>
					</span>
				</div>
			</div>

			<!-- Datepicker Till -->

			<div class = "col-md-3">
				<div class="input-group">
					<span class="input-group-addon">
						{{'TILL'|translate}}
					</span>

					<input type="text"
						   class="form-control"
						   aria-label="Till"
						   placeholder="dd.mm.yyyy."
						   ng-required="true"
						   uib-datepicker-popup="dd.MM.yyyy."
						   datepicker-options="dateOptions"
						   close-text="Close"
						   ng-model="till"
						   is-open="datepickerTill.show"
						   ng-disabled="controlsDisabled"
					>

					<span class="input-group-btn">
						<button
								class="btn btn-default"
								type="button"
								ng-click="datepickerTill.open()"
								ng-disabled="controlsDisabled">
							<span class="glyphicon glyphicon-calendar"></span>
						</button>
					</span>
				</div>
			</div>
		</div>
		
		<div class = "row top15">
			<div class = "col-md-6">
				<div class="input-group">
					<span class="input-group-addon">
						{{'INIT_TOTAL'|translate}}
					</span>

					<input type="text"
						   class="form-control"
						   aria-label="Till"
						   placeholder="100.00€"
						   ng-disabled="controlsDisabled"
						   ng-model="totals"
					>

				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal-footer">
	<button class="btn btn-primary" ng-click="ok()" ng-disabled="controlsDisabled || !valid">
		{{'SAVE'|translate}}
	</button>
	<button class="btn btn-warning" ng-click="cancel()">
		{{'CANCEL'|translate}}
	</button>
</div>