<div class="modal-header">
	<button class="close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
	<h3 class="modal-title">{{'PAYMENTS_ON'|translate}} {{date|date:'dd.MM.yyyy.'}}</h3>
</div>

<div class="modal-body">
	<table id="payments-table" class="table table-bordered table-condensed text-center" ng-show="payments.length > 0">
		<tr>
			<th>{{'NR'|translate}}</th>
			<th>{{'TIME'|translate}}</th>
			<th style="text-align: left">{{'SUM'|translate}}</th>
			<th>{{'ACTIONS'|translate}}</th>
		</tr>

		<tr ng-repeat="payment in payments track by $index" ng-class="{ danger: payment.remove }">
			<td>{{$index+1}}</td>
			<td>{{payment.time|date:'HH:mm:ss'}}</td>
			<td>
				<div class="input-group">
					<div class="input-group-addon">
						€
					</div>
					<input type="text" class="form-control" placeholder="0.00" ng-model="payment.sum" ng-disabled="payment.remove">
				</div>
			</td>
			<td>
				<button type="button"
						class="btn btn-danger btn-sm"
						ng-click="remove(payment)"
						ng-show="!payment.remove"
						ng-disabled="controlsDisabled"
				>
					<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
				</button>

				<button type="button"
						class="btn btn-info btn-sm"
						ng-click="cancelRemove(payment)"
						ng-show="payment.remove"
						ng-disabled="controlsDisabled"
				>
					<span class="glyphicon glyphicon-repeat" aria-hidden="true"></span>
				</button>
			</td>
		</tr>
	</table>

	<h4 class="text-center" ng-show="payments.length === 0">{{'NOTHING_TO_SHOW'|translate}}</h4>

	<button type="button" class="btn btn-primary btn-sm" ng-click="add()" ng-disabled="controlsDisabled">
		<span class="glyphicon glyphicon-plus"></span>{{'ADD'|translate}}
	</button>

	<button type="button" class="btn btn-warning btn-sm" ng-click="reset()" ng-disabled="controlsDisabled">
		<span class="glyphicon glyphicon-repeat"></span>{{'RESET'|translate}}
	</button>
</div>

<div class="modal-footer">
	<button class="btn btn-primary" ng-click="save()" ng-disabled="saveBlocked || controlsDisabled">
		{{'SAVE'|translate}}
	</button>
	<button class="btn btn-warning" ng-click="cancel()" ng-disabled="controlsDisabled">
		{{'CANCEL'|translate}}
	</button>
</div>