<div class="row">
    <div class="col-md-12">
        <div class="well well-sm">
            <h4>{{"ABOUT"|translate}}</h4>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-body">
                <p ng-bind-html="'ABOUT_APP_TASK'|translate"></p>
                <p ng-bind-html="'ABOUT_CALCULATIONS'|translate"></p>
                <p ng-bind-html="'ABOUT_IDEAL_CASE'|translate"></p>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-body">
                <p ng-bind-html="'ABOUT_EXPENSES'|translate"></p>
                <p ng-bind-html="'ABOUT_YOUR_TASK'|translate"></p>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-body">
                <strong>{{'ABOUT_THANK_YOU'|translate}}</strong>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="panel panel-info">
            <div class="panel-body">
                <canvas class="chart chart-bar"
                        chart-options="idealChart.options"
                        chart-data="idealChart.data"
                        chart-labels="idealChart.labels"
                        chart-colors="idealChart.colors"
                        chart-dataset-override="idealChart.datasetOverride">
                </canvas>
            </div>
            <div class="panel-footer">
                <i>{{'ABOUT_IDEAL_GRAPH'|translate}}</i>
            </div>
        </div>

        <div class="panel panel-info">
            <div class="panel-body">
                <canvas class="chart chart-bar"
                        chart-options="realChart.options"
                        chart-data="realChart.data"
                        chart-labels="realChart.labels"
                        chart-colors="realChart.colors"
                        chart-dataset-override="realChart.datasetOverride">
                </canvas>
            </div>
            <div class="panel-footer">
                <i>{{'ABOUT_REAL_GRAPH'|translate}}</i>
            </div>
        </div>
    </div>
</div>