<div class="col-md-3"></div>

<div class="col-md-9">

    <div class="panel panel-default">
        <div class="panel-body">
            <button class="btn btn-default"
                    ng-click="save()"
                    ng-disabled="propsForm.$invalid || propsForm.$pristine || ctrlDisabled">
                {{'SAVE'|translate}}
            </button>
            <button class="btn btn-default" ng-click="cancel()" ng-disabled="ctrlDisabled">
                {{'CANCEL'|translate}}
            </button>
        </div>
    </div>

</div>