<div class="panel panel-info">
    <div class="panel-heading">
        <strong>{{'YEARS'|translate}}</strong>
    </div>

    <div class="panel-body">
        <a ng-repeat="years in years" href="#/intervals/{{years}}">
            {{years}}
        </a>
    </div>
</div>
