<!DOCTYPE html>
<html lang="en" ng-app="MoneySaverApp" ng-controller="AppCtrl">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="favicon.ico">

	<title>
        CashJet
    </title>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="styles/bootstrap.css">

	<!-- Custom -->
	<link rel="stylesheet" href="styles/starter-template.css">
	<link rel="stylesheet" href="styles/angular-chart.css" />

	<!-- app.min.js is compressed version of Money Saver Angular.js application. -->
	<script src="app/app.min.js"></script>
</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" aria-expanded="false" aria-controls="navbar" ng-click="isNavCollapsed = !isNavCollapsed">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">CashJet</a>
		</div>

		<div id="navbar" class="navbar-collapse collapse" uib-collapse="isNavCollapsed">
			<ul class="nav navbar-nav">
				<li ng-class="{ active: isActive('daily') }">
					<a href="#daily">
						{{'DAILY_PAYMENTS'|translate}}
					</a>
				</li>
				<!--<li ng-class="{ active: isActive('monthly') }">-->
					<!--<a href="#monthly">-->
						<!--{{'MONTHLY_PAYMENTS'|translate}}-->
					<!--</a>-->
				<!--</li>-->
				<li ng-class="{ active: isActive('properties') }">
					<a href="#properties">
						{{'PROPERTIES'|translate}}
					</a>
				</li>
				<li ng-class="{ active: isActive('about') }">
					<a href="#about">
						{{'ABOUT'|translate}}
					</a>
				</li>
			</ul>

			<ul class="nav navbar-nav navbar-right">
				<!-- <li class="dropdown" uib-dropdown nav-language-switcher /> -->
				<li>
					<a role="button" ng-click="logout()">
						{{'LOGOUT'|translate}}
						<span class="glyphicon glyphicon-log-out"></span>
					</a>
				</li>
			</ul>
		</div>
	</div>
</nav>

<div class="container starter-template" ng-view></div>

</body>
</html>
