<!DOCTYPE html>
<html lang="en" ng-app="MoneySaverAppLogin" ng-controller="login-ctrl">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>
        Money Saver v.1.0.1.8
    </title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="styles/bootstrap.css">

    <!-- Custom -->
    <link rel="stylesheet" href="styles/starter-template.css">

    <!-- login.app.min.js is compressed version of Money Saver Login application. -->
    <script src="app/login.app.min.js"></script>
</head>

<body class="container starter-template">
    <div class="page-header">
        <h1>
            {{'MONEY_SAVER_APP'|translate}}
            <small>
                {{'TAGLINE'|translate}}
            </small>
        </h1>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading">
            {{'LOGIN'|translate}}
        </div>

        <div class="panel-body">
            <form class="form-horizontal">
                <div class="form-group">
                    <label for="login" class="col-sm-2 control-label">
                        {{'LOGIN'|translate}}:
                    </label>
                    <div class="col-sm-10">
                        <input type="login"
                               class="form-control"
                               id="login"
                               placeholder="login"
                               ng-model="login">
                    </div>

                </div>

                <div class="form-group">
                    <label for="password" class="col-sm-2 control-label">
                        {{'PASSWORD'|translate}}:
                    </label>
                    <div class="col-sm-10">
                        <input type="password"
                               class="form-control"
                               id="password"
                               placeholder="password"
                               ng-model="password">
                    </div>
                </div>

                <div class="form-group" id="login-language-selector">
                    <div class="col-sm-offset-2 col-sm-10">
                        <a role="button" ng-click="changeLanguage('en')">
                            <img src="ico/gb.png" alt="english">
                        </a>
                        <a role="button" ng-click="changeLanguage('ru')">
                            <img src="ico/ru.png" alt="russian">
                        </a>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button class="btn btn-default"
                                type="submit"
                                ng-click="performLogin()"
                                ng-disabled="emptyCredentials()">
                            {{'SUBMIT'|translate}}
                        </button>
                    </div>
                </div>

            </form>
        </div>

        <div class="panel-footer">
            <span class="glyphicon glyphicon-user"></span>
            {{'ACTIVE_USERS'|translate}} {{activeUsers === '-' ? activeUsers : activeUsers + '.'}}
        </div>
    </div>

    <div class="alert alert-danger" ng-show="showLoginFailed">
        <strong>{{'LOGIN_FAILED'|translate}}:</strong>
        {{'LOGIN_FAILED_MSG'|translate}}
    </div>

    <div class="alert alert-warning" ng-show="showLoginRequierd">
        <strong>{{'LOGIN_REQUIRED'|translate}}:</strong>
        {{'LOGIN_REQUIRED_MSG'|translate}}
    </div>

    <div class="alert alert-info" ng-show="showLogoutSuccess">
        {{'LOGOUT_SUCCESS'|translate}}
    </div>
</body>

</html>
