<div class="row">
	<div class="col-md-12">
		<!-- Input panel -->
		<div class="panel panel-default">
			<div class="panel-heading">
				<strong>{{message.header}}</strong>
			</div>
			<div class="panel-body">
				{{message.body}}
			</div>
		</div>
	</div>
</div>